<% layout("layouts/boilerplate.ejs") %>
<body>
 
  <div class="row row-cols-lg-3 row-cols-md-2 rows-cols-sm-1">
  
    <% for(let list of alllisting){ %>
        <a href="/listings/<%= list._id %>" class="listing-links">

           <div class="card " >

              <img src="<%= list.image%>" class="card-img-top" alt="listing_image" style="height: 18rem;">
            
              <div class="card-img-overlay"></div>
            
                <div class="card-body">
                    <p class="card-text">
                    <b><%= list.title %></b> <br>
                    <%= list.price ? list.price.toLocaleString("en-IN") : "Price not available" %> /night
                    </p>
                </div>
            </div>

        </a>

    <%  }  %>

  </div>


</body>




